<!-- SEND VERTRAGING MESSAGE BUTTON
<div ng-click="openMessageOverlay()" ng-if="role == 'beheerder' && usersDetailsRoute && route.vasteDag == selectedDateDay" class="send-message-button" ng-repeat="route in routesDetails | filter: {routeId: loggedInUserRoute}:true">
	<img src="img/send-message-icon.png" alt="Send message icon">
</div> -->

<!-- SEND VERTRAGING MESSAGE OVERLAY 
<div ng-if="role == 'beheerder' && usersDetailsRoute"  class="send-message-overlay">
	<div ng-click="closeMessageOverlay()" class="send-message-overlay-background"></div>
	<div class="send-message-container container">
		<h1>Vertraging melden<span ng-click="closeMessageOverlay()" class="close-send-message-overlay">&times;</span></h1>
		<form>
			<h3>Bericht vertraging</h3>
			<input ng-model="vertragingMessage" style="resize:vertical" class="melding-message" type="text" placeholder="Typ een bericht">
			<button class="send-message" ng-if="vertragingMessage" ng-click="sendMessageFunctionCall(loggedInUserRoute,loggedInUserRegion)" type="submit"><img src="img/send-message-icon.png" alt="Send message icon">Verstuur</button>
		</form>
	</div>
</div>
 END SEND VERTRAGING MESSAGE OVERLAY -->

<section class="container planning">

	<!-- LABORATORIUM SCAN BUTTON -->
	<button style="margin:30px auto;display:block;" ng-if="role == 'laboratorium'" ng-click="scanKitOrMonsters($event,'','')" class="scanner-button"><img src="img/camera.png" alt="Camera icon">SCANNER</button>
	<button style="margin:30px auto;display:block;" ng-if="scanSession" ng-click="stopScanSession()">Einde scansessie</button>
	
	<span ng-show="role != 'laboratorium'" class="route-date-select">
		<div>
			<h3>SELECTEER EEN DATUM</h3>
			<p type="text" id="date-select-route"></p>
		</div>

		<form id="routeForm" name="routeForm">
			
			<span ng-show="role == 'beheerder'">
				<h3>SELECTEER REGIO</h3>
				<select ng-model="loggedInUserRegion">
					<option disabled selected value="">Selecteer &#8964;</option>
					<option value="{{region.id}}" ng-repeat="region in regionsDetails">{{region.region}} &#8964;</option>
				</select>
			</span>
			
			<span ng-show="loggedInUserRegion && role != 'huisartsenpraktijk' && chosenDate">
				<h3>SELECTEER ROUTE</h3>
				<select class="selectRouteRoutePage" ng-model="loggedInUserRoute" name="loggedInUserRoute" ng-change="getUsersAndPlanningWithRoute(loggedInUserRoute)">
					<option disabled selected value="">Selecteer &#8964;</option>
					<!-- IF USER IS NOT A KOERIER -->
					<option value="{{route.routeId}}" ng-repeat="route in routesDetails | filter: {regionId: loggedInUserRegion}:true | orderBy: ['routeNaam']" ng-if="route.routeNaam && role != 'koerier'">{{route.routeNaam}} &#8964;</option>
					<!-- IF USER IS A KOERIER -->
					<option value="{{route.id}}" ng-repeat="route in loggedInUserRouteList | orderBy: ['routeNaam']" ng-if="route.routeName && role == 'koerier'">{{route.routeName}} &#8964;</option>
				</select>
			</span>
		</form>
	</span>

	<span ng-show="role != 'laboratorium'" ng-repeat="route in routesDetails | filter: {routeId:loggedInUserRoute}:true | limitTo: '1'">
		<!-- ROUTE NOT SET FOR SELECTED DAY -->
		<p ng-if="usersDetailsRoute && (route.vasteDag != selectedDateDay)" class="register-message">De geselecteerde route wordt deze dag niet gereden. De route wordt gereden op <strong style="font-weight:bold;">{{route.vasteDag}}</strong>.</p>
	
		<span id="top-of-route" ng-if="usersDetailsRoute && (route.vasteDag == selectedDateDay)">
			<!-- KOERIERS FROM SELECTED ROUTE -->
			<span style="font-size:13px;margin-top:40px;margin-bottom:40px;display:block;"><h3>Koerier(s):</h3><li ng-repeat="user in usersDetailsRoute | filter: {role: 'koerier'}"><a href="#/menu/user/{{user.user_id}}" style="font-weight:300;text-decoration:none;color:#000;">{{user.identity}}<br /></a></li></span>
			
			<!-- ADRESSENLIJST INFO -->
			<h3>ADRESSENLIJST<br /></h3>
			<p ng-if="usersDetailsRoute" style="font-weight:300"><img style="width:12.5px;display:inline-block" src="img/check.png" alt="Check icon"> Route is klaar met laden ({{(usersDetailsRoute | filter: {role:'huisartsenpraktijk'}).length}} resultaten), pagina {{currentPage + 1}}</p>
		</span>
		
		<!-- GENERATING ROUTE MESSAGE -->
		<p ng-if="!usersDetailsRoute && routeForm.loggedInUserRoute.$touched && route.vasteDag == selectedDateDay" style="font-weight:300">Route genereren...<img src="img/loading.gif" style="display:inline-block;width:20px;"></p>
	</span>

	<!-- ROUTE CARDS -->
	<div ng-show="role != 'laboratorium'" ng-if="(usersDetailsRoute) && (route.vasteDag == selectedDateDay)" ng-repeat="route in routesDetails | filter: {routeId: loggedInUserRoute}:true | limitTo: '1'" class="planning-container">
		<ul class="signature-list" id="signature_list">
			<li class="route-card" ng-repeat="user in usersDetailsRoute | filter: {role: 'huisartsenpraktijk'} | startFrom: currentPage * pageSize  | limitTo:pageSize" ng-controller="singleUserRouteDetails">

				<!-- CHECK IF USER HAS BESTELLINGEN -->
				<span ng-if="userBestellingenRoute" class="praktijk-bestellingen-in-route-container"><span class="praktijk-bestellingen-in-route">{{userBestellingenRoute.length}} bestelling(en)</span></span>

				<!-- CHECK IF USER HAS AN IMPORTANT NOTE -->
				<span ng-if="user.notitie" class="praktijk-notitie-in-route">i</span>

				<span class="planning-index">{{routeIndex}}.</span>
				<span style="height:100%;position:relative;display:block;">
					<h4><img ng-repeat="planning in planningDetails | filter: {praktijk_id: user.user_id} | limitTo: '1'" ng-if="planning.praktijk_id == user.user_id" src="img/check.png" alt="Check icon" class="check-mark">
					<a style="margin:0;color:#000" href="javascript:;" ng-click="launchNavigator('{{user.address}} {{user.postcode}} {{user.city}}')">{{user.identity}}</a></h4><br />
					<span ng-if="role == 'huisartsenpraktijk' && user.user_id == loggedInUserId || role != 'huisartsenpraktijk'" class="toggle-route" ng-click="toggleRouteItemHeight($event,user.user_id,$index)"><span class="toggleRouteIcon">+</span></span>
					<a style="font-weight:300;font-size:13px;margin:0;color:#000" href="javascript:;" ng-click="launchNavigator('{{user.address}} {{user.postcode}} {{user.city}}')">{{user.address}}, {{user.city}}</a>
					<span style="display:none;" class="chosenHuisartsId">{{user.user_id}}</span>

					<br />
					
					<!-- SCAN KIT OR MONSTERS -->
					<button ng-if="role == 'koerier'" ng-click="scanKitOrMonsters($event,loggedInUserRoute,user.user_id)" class="scanner-button" type="submit"><img src="img/camera.png" alt="Camera icon">SCAN KIT/MONSTERS</button><br />
					
					<span ng-if="role == 'koerier'" class="scannedMonsters" ng-click="scannedMonstersInRoute($event)">Opgehaald: <span class="scannedMonstersKoerier">{{(userScansRoute | filter: {koerierScan: '1'}).length}}</span>, afgeleverd: <span class="scannedMonstersLab">{{(userScansRoute | filter: {laboratoriumScan: '1'}).length}}</span></span>

					<!-- SCANNED MONSTERS POP-UP -->
					<div class="scanned-monsters-overlay">
						<div ng-click="closeScannedMonstersInRoute()" class="scanned-monsters-overlay-background"></div>
						<div class="scanned-monsters-container container">
							<h1>Gescande monsters<span ng-click="closeScannedMonstersInRoute()" class="close-scanned-monsters-overlay">&times;</span></h1>
							<!-- if scanned monsters exist -->
							<table ng-if="userScansRoute.length">
								<thead>
									<th>Barcode</th>
									<th>Type</th>
									<th>Opgehaald</th>
									<th>Afgeleverd</th>
									<th>Verwijderen</th>
								</thead>
								<tr ng-repeat="monster in userScansRoute">
									<td>{{monster.barCode}}</td>
									<td ng-repeat="kitType in kitTypes | filter: {KitId: monster.kitType}">{{kitType.kitType}}</td>
									<td ng-if="monster.koerierScan == '1'">Ja</td>
									<td ng-if="monster.koerierScan != '1'">Nee</td>
									<td ng-if="monster.laboratoriumScan == '1'">Ja</td>
									<td ng-if="monster.laboratoriumScan != '1'">Nee</td>
									<td><a href="javascript:;" ng-click="deleteScan($event,monster.barCode,monster.koerierScan,monster.laboratoriumScan)"><img src="img/delete.png" height="20px" width="20px"></a></td>
								</tr>
							</table>

							<!-- if scanned monsters don't exist -->
							<span ng-if="!userScansRoute.length">Nog geen monsters gescand.</span>
						</div>
					</div>

					<br />

					<h3 style="margin-top:40px;margin-bottom:0;">Navigeer</h3>

					<br />

					<!-- NAVIGATIEKNOP -->
					<span style="font-weight:300;">
						<a style="margin-top:0px" class="button" href="javascript:;" ng-click="launchNavigator('{{user.address}} {{user.postcode}} {{user.city}}')">Open navigatie</a>
					</span>

					<br /><br />

					<h3>CONTACT</h3>
					<h5><span>Emailadres:</span><strong><a href="mailto:{{user.email}}">{{user.email}}</a></strong></h5>
					<h5><span>Telefoonnummer:</span><strong><a href="tel:{{user.telephone}}">{{user.telephone}}</a></strong></h5>

					<br /><br /><br />
					
					<span class="praktijk-notitie-in-route-container" ng-if="user.notitie"><span class="praktijk-notitie-in-route">i</span>Notitie: {{user.notitie}}</span>
					<button ng-if="role == 'koerier' || role == 'beheerder'" class="button" ng-click="editUserInRoute($event)">PRAKTIJK BEWERKEN</button>

					<!-- CHANGE HUISARTSENPRAKTIJK POP-UP FORM -->
					<div class="change-praktijk-overlay">
						<div ng-click="closeEditUserInRoute()" class="change-praktijk-overlay-background"></div>
						<div class="change-praktijk-container container">
							<h1>Praktijk bewerken<span ng-click="closeEditUserInRoute()" class="close-change-praktijk-overlay">&times;</span></h1>
							<form>
								<span>
									<h3>Wijzig naam</h3>
									<input class="updateUserName" ng-model="userIdentity" type="text" placeholder="{{user.identity}}">
								</span>

								<span>
									<h3>Wijzig emailadres<br />
										<span style="font-size:13px;font-weight:300;text-transform:none;">Het huidige emailadres is <span style="font-weight:bold">{{user.email}}</span>. Voer hieronder een nieuw emailadres in.</span>
									</h3>
									<input style="display:none;" class="updateUserEmail" readonly="readonly" ng-model="user.email" type="text">
									<input class="updateUserEmailNew" ng-model="updateUserEmailNew" type="email" placeholder="Voer een nieuw emailadres in">
								</span>

								<span>
									<h3>Wijzig telefoonnummer</h3>
									<input class="updateUserTelephone" ng-model="userTelephone" type="tel" pattern="[0-9\-\s]*" placeholder="{{user.telephone}}">
								</span>
								
								<span>
									<h3>Wijzig adres</h3>
									<input class="updateUserAddress" ng-model="userAddress" type="text" placeholder="{{user.address}}">
								</span>

								<span>
									<h3>Wijzig plaatsnaam</h3>
									<input class="updateUserCity" ng-model="userCity" type="text" placeholder="{{user.city}}">
								</span>

								<span>
									<h3>Wijzig postcode</h3>
									<input class="updateUserPostcode" ng-model="userPostcode" type="text" placeholder="{{user.postcode}}">
								</span>

								<span class="notitie-section">
									<h3>Notities</h3>
										<p style="font-weight:300;" ng-if="user.notitie"><span style="font-weight:bold">Huidige notitie: </span>{{user.notitie}}</p>
										<button ng-if="user.notitie" ng-click="deleteNotitie(user.user_id);user.notitie = ''" class="button">Verwijder notitie</button>
										<textarea class="updateNotitie" ng-model="userNotitie" placeholder="Voeg een notitie toe"></textarea>
								</span>

								<button ng-click="saveUserInRoute(userIdentity,user.email,updateUserEmailNew,userTelephone,userAddress,userCity,userPostcode,userNotitie,user.user_id)" type="submit">Opslaan</button>
							</form>
						</div>
					</div>

					<br /><br />

					<h3>BESTELLINGEN</h3>
					<span style="padding:10px 0;border-bottom:1px solid #ccc;display:inline-block;width:100%;" ng-if="userBestellingenRoute" ng-repeat="bestelling in userBestellingenRoute">
						<h5 ng-repeat="kitType in kitTypes | filter: {KitId: bestelling.kitType}"><span>Kittype:</span><strong>{{kitType.kitType}}</strong></h5>
						<h5><span>Aantal:</span><strong>{{bestelling.aantal}}</strong></h5>
					</span>
					<span ng-if="!userBestellingenRoute">
						<p style="font-weight:300">Er zijn geen bestellingen aangevraagd voor deze praktijk.</p>
					</span>

					<br /><br />
					
					<!-- IF USER EXISTS IN PLANNING -->
					<form class="planning-form" ng-if="planning.praktijk_id == user.user_id" ng-repeat="planning in planningDetails | filter: {praktijk_id: user.user_id} | limitTo: '1'">

						<div style="display:none">{{planningExists = true}}</div>

						<h3>MATERIAAL OPGEHAALD</h3>
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<select ng-if="role != 'huisartsenpraktijk'" class="materiaalOpgehaaldSelection" ng-model="planning.materiaal_opgehaald">
							<option selected value="">Geen selectie &#8964;</option>
							<option value="0">Nee &#8964;</option>
							<option value="1">Ja &#8964;</option>
						</select>

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk' && planning.materiaal_opgehaald == '1'">Ja</p>
						<p ng-if="role == 'huisartsenpraktijk' && planning.materiaal_opgehaald == '0'">Nee</p>
						<p ng-if="role == 'huisartsenpraktijk' && !planning.materiaal_opgehaald">(Nog) geen gegevens bekend.</p>
						
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<select ng-if="role != 'huisartsenpraktijk'" ng-model="planning.noMateriaalGivenReason" ng-show="planning.materiaal_opgehaald == '0'">
							<option selected disabled value="">Geef een reden aan &#8964;</option>
							<option ng-repeat="reden in geenmateriaalreden" value="{{reden.reden_id}}">{{reden.reden}}</option>
						</select>
						<input type="text" ng-if="planning.noMateriaalGivenReason == '7' && role != 'huisartsenpraktijk'" placeholder="Voor een reden in" ng-model="planning.anders">

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk' && planning.noMateriaalGivenReason" ng-repeat="reden in geenmateriaalreden | filter: {reden_id: planning.noMateriaalGivenReason}">Reden: {{reden.reden}}<span ng-show="planning.noMateriaalGivenReason == '7'"> {{planning.anders}}</span></p>

						<br /><br />

						<h3>KITS AFGELEVERD</h3>
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<select ng-if="role != 'huisartsenpraktijk'" ng-model="planning.kits_afgeleverd" class="kitsAfgeleverdSelection">
							<option selected value="">Geen selectie &#8964;</option>
							<option value="0">Nee &#8964;</option>
							<option value="1">Ja &#8964;</option>
						</select>
						
						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk' && planning.kits_afgeleverd == '0'">Nee</p>
						<p ng-if="role == 'huisartsenpraktijk' && planning.kits_afgeleverd == '1'">Ja</p>
						<p ng-if="role == 'huisartsenpraktijk' && !planning.kits_afgeleverd">(Nog) geen gegevens bekend.</p>
						
						<span ng-show="planning.kits_afgeleverd == '1'" class="kitsAfgeleverdOuterContainer" ng-repeat="bestellingObject in planning.bestellingen">
							<span class="kitsAfgeleverdContainer">
								<span style="padding:10px 0;border-bottom:1px solid #ccc;display:inline-block;width:100%;" ng-repeat="bestelling in bestellingObject" ng-if="bestellingObject != ''" class="kitsAfgeleverd">

									<!-- IF NOT HUISARTSENPRAKTIJK & KIT ALREADY DELIVERED -->
									<select ng-show="role != 'huisartsenpraktijk'" class="kitsAfgeleverdType" ng-model="bestelling.KitId">
										<option selected disabled value="">Selecteer een kittype &#8964;</option>
										<option ng-repeat="kitType in kitTypes | filter: {KitId: '1'}" value="{{kitType.KitId}}">{{kitType.kitType}} &#8964;</option>
										<option ng-repeat="kitType in kitTypes | filter: {KitId: '2'}" ng-if="
										role == 'koerier' ||

										loggedInUserRegion == '5' ||
										loggedInUserRegion == '1' ||
										loggedInUserRoute == '47' ||
										loggedInUserRoute == '48' ||
										user.user_id == '411b27e5358d2346881b7b5b2888d057' ||
										user.user_id == 'f6723dd47f0411c2b7d194a4dd62654a' ||
										user.user_id == 'cb25f369a7d3194ac65e823c4b6fd59b' ||
										user.user_id == '61ab7ecb6d462ea5804a0217ca344764' ||
										user.user_id == 'af8cd7fbb0d5b56bf8921ddfd6d80c2a' ||
										user.user_id == '2a1d69e8d38e3a79275b3f6c7731011a' ||
										user.user_id == '036da22f3cbc1b19d6479ecc78e81c41' ||
										user.user_id == 'a272df862b1b14b903d55add4bf916f0' ||
										user.user_id == '12905e8d5d102c73ad735edee81b6164' ||
										user.user_id == '83809f492206e350cc5b77a1c8d8bfc1' ||
										user.user_id == 'bdb866e5c4838ab78d322de9afd7e618' ||
										user.user_id == 'b906a6eba01bef7583c62684f40b2222' ||
										user.user_id == '4b3acfe62fc393e024c5f4ceaed2cf26' ||
										user.user_id == 'c10bd60ba45b342147efbbe764eea93d' ||
										user.user_id == '2582b3c448b46aeb4e0685b50c9495d7' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == 'ff31d588f86662d5b68d35039c03b015' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ec49de9b09aaf306a994ad2308078be' ||
										user.user_id == '49f6d2c8cb7860b6063bdf42f5e4b1a6' ||
										user.user_id == '9a0a597c996e536cdec948033f67ace7' ||
										user.user_id == '40af1968804df5febafef99253ed4647' ||
										user.user_id == 'efabd470cf4531efd896c8043044ebfa' ||
										user.user_id == '39f910e6c5fc08c4c4e205a1965551cb' ||
										user.user_id == '0e9b496031c540b10f731c6e1cc93c60' ||
										user.user_id == 'cc89e3c7f337a162d1002ade05de8c7b' ||
										user.user_id == '8c57391d1b1044f649c11121bfe8cfe6' ||
										user.user_id == 'e779bfbbd46e0369005f4ab7bc79215c' ||
										user.user_id == '3643b8bfced0c78cdcb54b0ed984ccc8' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ad357c9da96ea21fd92bcb112ae787e' ||
										user.user_id == 'b250ee5d4e0b02ee8d613bfbd815ea6a' ||
										user.user_id == '4765ee38ada5247602e14bcad5204ccf' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == '83143da8da69981d260297d6ccd6356b' ||
										user.user_id == '0c766bd8bf49d37575ab42a579a96ddf' ||
										user.user_id == '4b3b1ec2d548ab8d0f303f4a3ba1cc3d' ||
										user.user_id == '0e30702f79add0788ca5ea13d8df450c' ||
										user.user_id == 'a25a814d471380f1679cd0a7124ccf4c' ||
										user.user_id == '7ce8ac1618a962abd302888ab81e0bf9' ||
										user.user_id == 'f659cd52b52d0c5ff0e4da502435de20'
										" value="{{kitType.KitId}}">{{kitType.kitType}} &#8964;</option>
										<option ng-repeat="kitType in kitTypes | filter: {KitId: '3'}" ng-if="
										role == 'koerier' ||

										loggedInUserRegion == '5' ||
										loggedInUserRegion == '1' ||
										loggedInUserRoute == '47' ||
										loggedInUserRoute == '48' ||
										user.user_id == '411b27e5358d2346881b7b5b2888d057' ||
										user.user_id == 'f6723dd47f0411c2b7d194a4dd62654a' ||
										user.user_id == 'cb25f369a7d3194ac65e823c4b6fd59b' ||
										user.user_id == '61ab7ecb6d462ea5804a0217ca344764' ||
										user.user_id == 'af8cd7fbb0d5b56bf8921ddfd6d80c2a' ||
										user.user_id == '2a1d69e8d38e3a79275b3f6c7731011a' ||
										user.user_id == '036da22f3cbc1b19d6479ecc78e81c41' ||
										user.user_id == 'a272df862b1b14b903d55add4bf916f0' ||
										user.user_id == '12905e8d5d102c73ad735edee81b6164' ||
										user.user_id == '83809f492206e350cc5b77a1c8d8bfc1' ||
										user.user_id == 'bdb866e5c4838ab78d322de9afd7e618' ||
										user.user_id == 'b906a6eba01bef7583c62684f40b2222' ||
										user.user_id == '4b3acfe62fc393e024c5f4ceaed2cf26' ||
										user.user_id == 'c10bd60ba45b342147efbbe764eea93d' ||
										user.user_id == '2582b3c448b46aeb4e0685b50c9495d7' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == 'ff31d588f86662d5b68d35039c03b015' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ec49de9b09aaf306a994ad2308078be' ||
										user.user_id == '49f6d2c8cb7860b6063bdf42f5e4b1a6' ||
										user.user_id == '9a0a597c996e536cdec948033f67ace7' ||
										user.user_id == '40af1968804df5febafef99253ed4647' ||
										user.user_id == 'efabd470cf4531efd896c8043044ebfa' ||
										user.user_id == '39f910e6c5fc08c4c4e205a1965551cb' ||
										user.user_id == '0e9b496031c540b10f731c6e1cc93c60' ||
										user.user_id == 'cc89e3c7f337a162d1002ade05de8c7b' ||
										user.user_id == '8c57391d1b1044f649c11121bfe8cfe6' ||
										user.user_id == 'e779bfbbd46e0369005f4ab7bc79215c' ||
										user.user_id == '3643b8bfced0c78cdcb54b0ed984ccc8' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ad357c9da96ea21fd92bcb112ae787e' ||
										user.user_id == 'b250ee5d4e0b02ee8d613bfbd815ea6a' ||
										user.user_id == '4765ee38ada5247602e14bcad5204ccf' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == '83143da8da69981d260297d6ccd6356b' ||
										user.user_id == '0c766bd8bf49d37575ab42a579a96ddf' ||
										user.user_id == '4b3b1ec2d548ab8d0f303f4a3ba1cc3d' ||
										user.user_id == '0e30702f79add0788ca5ea13d8df450c' ||
										user.user_id == 'a25a814d471380f1679cd0a7124ccf4c' ||
										user.user_id == '7ce8ac1618a962abd302888ab81e0bf9' ||
										user.user_id == 'f659cd52b52d0c5ff0e4da502435de20'" value="{{kitType.KitId}}">{{kitType.kitType}} &#8964;</option>
										<option ng-repeat="kitType in kitTypes | filter: {KitId: '4'}" ng-if="
										role == 'koerier' ||

										loggedInUserRoute == '47' ||
										loggedInUserRoute == '48' ||
										user.user_id == '411b27e5358d2346881b7b5b2888d057' ||
										user.user_id == 'f6723dd47f0411c2b7d194a4dd62654a' ||
										user.user_id == 'cb25f369a7d3194ac65e823c4b6fd59b' ||
										user.user_id == '61ab7ecb6d462ea5804a0217ca344764' ||
										user.user_id == 'af8cd7fbb0d5b56bf8921ddfd6d80c2a' ||
										user.user_id == '2a1d69e8d38e3a79275b3f6c7731011a' ||
										user.user_id == '036da22f3cbc1b19d6479ecc78e81c41' ||
										user.user_id == 'a272df862b1b14b903d55add4bf916f0' ||
										user.user_id == '12905e8d5d102c73ad735edee81b6164' ||
										user.user_id == '83809f492206e350cc5b77a1c8d8bfc1' ||
										user.user_id == 'bdb866e5c4838ab78d322de9afd7e618' ||
										user.user_id == 'b906a6eba01bef7583c62684f40b2222' ||
										user.user_id == '4b3acfe62fc393e024c5f4ceaed2cf26' ||
										user.user_id == 'c10bd60ba45b342147efbbe764eea93d' ||
										user.user_id == '2582b3c448b46aeb4e0685b50c9495d7' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == 'ff31d588f86662d5b68d35039c03b015' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ec49de9b09aaf306a994ad2308078be' ||
										user.user_id == '49f6d2c8cb7860b6063bdf42f5e4b1a6' ||
										user.user_id == '9a0a597c996e536cdec948033f67ace7' ||
										user.user_id == '40af1968804df5febafef99253ed4647' ||
										user.user_id == 'efabd470cf4531efd896c8043044ebfa' ||
										user.user_id == '39f910e6c5fc08c4c4e205a1965551cb' ||
										user.user_id == '0e9b496031c540b10f731c6e1cc93c60' ||
										user.user_id == 'cc89e3c7f337a162d1002ade05de8c7b' ||
										user.user_id == '8c57391d1b1044f649c11121bfe8cfe6' ||
										user.user_id == 'e779bfbbd46e0369005f4ab7bc79215c' ||
										user.user_id == '3643b8bfced0c78cdcb54b0ed984ccc8' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ad357c9da96ea21fd92bcb112ae787e' ||
										user.user_id == 'b250ee5d4e0b02ee8d613bfbd815ea6a' ||
										user.user_id == '4765ee38ada5247602e14bcad5204ccf' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == '83143da8da69981d260297d6ccd6356b' ||
										user.user_id == '0c766bd8bf49d37575ab42a579a96ddf' ||
										user.user_id == '4b3b1ec2d548ab8d0f303f4a3ba1cc3d' ||
										user.user_id == '0e30702f79add0788ca5ea13d8df450c' ||
										user.user_id == 'a25a814d471380f1679cd0a7124ccf4c' ||
										user.user_id == '7ce8ac1618a962abd302888ab81e0bf9' ||
										user.user_id == 'f659cd52b52d0c5ff0e4da502435de20'" value="{{kitType.KitId}}">{{kitType.kitType}} &#8964;</option>
									</select>
									<select ng-show="role != 'huisartsenpraktijk'" class="kitsAfgeleverdAantal" ng-model="bestelling.aantal">
										<option selected disabled value="">Selecteer een aantal &#8964;</option>
										<option value="1">1 &#8964;</option>
										<option value="2">2 &#8964;</option>
										<option value="3">3 &#8964;</option>
										<option value="4">4 &#8964;</option>
										<option value="5">5 &#8964;</option>
										<option value="6">6 &#8964;</option>
									</select>
									<button ng-show="role != 'huisartsenpraktijk'" style="background-color:#e74c3c;" class="removeKitFromRouteButton" ng-click="removeKitFromRoute($event)">KIT VERWIJDEREN</button>

									<!-- IF HUISARTSENPRAKTIJK -->
									<p ng-show="role == 'huisartsenpraktijk'" ng-repeat="kitType in kitTypes | filter: {KitId: bestelling.KitId}">Type kit: {{kitType.kitType}}, aantal: {{bestelling.aantal}}</p>
									<br /><br />
								</span>

								<!-- IF NOT HUISARTSENPRAKTIJK & KIT NOT DELIVERED YET -->
								<span ng-show="role != 'huisartsenpraktijk'" style="padding:10px 0;border-bottom:1px solid #ccc;display:inline-block;width:100%;" ng-if="bestellingObject == ''" class="kitsAfgeleverd">
									<select class="kitsAfgeleverdType" ng-model="planning.kitTypeSelected">
										<option selected disabled value="">Selecteer een kittype &#8964;</option>
										<option ng-repeat="kitType in kitTypes | filter: {KitId: '1'}" value="{{kitType.KitId}}">{{kitType.kitType}} &#8964;</option>
										<option ng-repeat="kitType in kitTypes | filter: {KitId: '2'}" ng-if="
										role == 'koerier' ||

										loggedInUserRegion == '5' ||
										loggedInUserRegion == '1' ||
										loggedInUserRoute == '47' ||
										loggedInUserRoute == '48' ||
										user.user_id == '411b27e5358d2346881b7b5b2888d057' ||
										user.user_id == 'f6723dd47f0411c2b7d194a4dd62654a' ||
										user.user_id == 'cb25f369a7d3194ac65e823c4b6fd59b' ||
										user.user_id == '61ab7ecb6d462ea5804a0217ca344764' ||
										user.user_id == 'af8cd7fbb0d5b56bf8921ddfd6d80c2a' ||
										user.user_id == '2a1d69e8d38e3a79275b3f6c7731011a' ||
										user.user_id == '036da22f3cbc1b19d6479ecc78e81c41' ||
										user.user_id == 'a272df862b1b14b903d55add4bf916f0' ||
										user.user_id == '12905e8d5d102c73ad735edee81b6164' ||
										user.user_id == '83809f492206e350cc5b77a1c8d8bfc1' ||
										user.user_id == 'bdb866e5c4838ab78d322de9afd7e618' ||
										user.user_id == 'b906a6eba01bef7583c62684f40b2222' ||
										user.user_id == '4b3acfe62fc393e024c5f4ceaed2cf26' ||
										user.user_id == 'c10bd60ba45b342147efbbe764eea93d' ||
										user.user_id == '2582b3c448b46aeb4e0685b50c9495d7' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == 'ff31d588f86662d5b68d35039c03b015' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ec49de9b09aaf306a994ad2308078be' ||
										user.user_id == '49f6d2c8cb7860b6063bdf42f5e4b1a6' ||
										user.user_id == '9a0a597c996e536cdec948033f67ace7' ||
										user.user_id == '40af1968804df5febafef99253ed4647' ||
										user.user_id == 'efabd470cf4531efd896c8043044ebfa' ||
										user.user_id == '39f910e6c5fc08c4c4e205a1965551cb' ||
										user.user_id == '0e9b496031c540b10f731c6e1cc93c60' ||
										user.user_id == 'cc89e3c7f337a162d1002ade05de8c7b' ||
										user.user_id == '8c57391d1b1044f649c11121bfe8cfe6' ||
										user.user_id == 'e779bfbbd46e0369005f4ab7bc79215c' ||
										user.user_id == '3643b8bfced0c78cdcb54b0ed984ccc8' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ad357c9da96ea21fd92bcb112ae787e' ||
										user.user_id == 'b250ee5d4e0b02ee8d613bfbd815ea6a' ||
										user.user_id == '4765ee38ada5247602e14bcad5204ccf' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == '83143da8da69981d260297d6ccd6356b' ||
										user.user_id == '0c766bd8bf49d37575ab42a579a96ddf' ||
										user.user_id == '4b3b1ec2d548ab8d0f303f4a3ba1cc3d' ||
										user.user_id == '0e30702f79add0788ca5ea13d8df450c' ||
										user.user_id == 'a25a814d471380f1679cd0a7124ccf4c' ||
										user.user_id == '7ce8ac1618a962abd302888ab81e0bf9' ||
										user.user_id == 'f659cd52b52d0c5ff0e4da502435de20'
										" value="{{kitType.KitId}}">{{kitType.kitType}} &#8964;</option>
										<option ng-repeat="kitType in kitTypes | filter: {KitId: '3'}" ng-if="
										role == 'koerier' ||

										loggedInUserRegion == '5' ||
										loggedInUserRegion == '1' ||
										loggedInUserRoute == '47' ||
										loggedInUserRoute == '48' ||
										user.user_id == '411b27e5358d2346881b7b5b2888d057' ||
										user.user_id == 'f6723dd47f0411c2b7d194a4dd62654a' ||
										user.user_id == 'cb25f369a7d3194ac65e823c4b6fd59b' ||
										user.user_id == '61ab7ecb6d462ea5804a0217ca344764' ||
										user.user_id == 'af8cd7fbb0d5b56bf8921ddfd6d80c2a' ||
										user.user_id == '2a1d69e8d38e3a79275b3f6c7731011a' ||
										user.user_id == '036da22f3cbc1b19d6479ecc78e81c41' ||
										user.user_id == 'a272df862b1b14b903d55add4bf916f0' ||
										user.user_id == '12905e8d5d102c73ad735edee81b6164' ||
										user.user_id == '83809f492206e350cc5b77a1c8d8bfc1' ||
										user.user_id == 'bdb866e5c4838ab78d322de9afd7e618' ||
										user.user_id == 'b906a6eba01bef7583c62684f40b2222' ||
										user.user_id == '4b3acfe62fc393e024c5f4ceaed2cf26' ||
										user.user_id == 'c10bd60ba45b342147efbbe764eea93d' ||
										user.user_id == '2582b3c448b46aeb4e0685b50c9495d7' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == 'ff31d588f86662d5b68d35039c03b015' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ec49de9b09aaf306a994ad2308078be' ||
										user.user_id == '49f6d2c8cb7860b6063bdf42f5e4b1a6' ||
										user.user_id == '9a0a597c996e536cdec948033f67ace7' ||
										user.user_id == '40af1968804df5febafef99253ed4647' ||
										user.user_id == 'efabd470cf4531efd896c8043044ebfa' ||
										user.user_id == '39f910e6c5fc08c4c4e205a1965551cb' ||
										user.user_id == '0e9b496031c540b10f731c6e1cc93c60' ||
										user.user_id == 'cc89e3c7f337a162d1002ade05de8c7b' ||
										user.user_id == '8c57391d1b1044f649c11121bfe8cfe6' ||
										user.user_id == 'e779bfbbd46e0369005f4ab7bc79215c' ||
										user.user_id == '3643b8bfced0c78cdcb54b0ed984ccc8' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ad357c9da96ea21fd92bcb112ae787e' ||
										user.user_id == 'b250ee5d4e0b02ee8d613bfbd815ea6a' ||
										user.user_id == '4765ee38ada5247602e14bcad5204ccf' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == '83143da8da69981d260297d6ccd6356b' ||
										user.user_id == '0c766bd8bf49d37575ab42a579a96ddf' ||
										user.user_id == '4b3b1ec2d548ab8d0f303f4a3ba1cc3d' ||
										user.user_id == '0e30702f79add0788ca5ea13d8df450c' ||
										user.user_id == 'a25a814d471380f1679cd0a7124ccf4c' ||
										user.user_id == '7ce8ac1618a962abd302888ab81e0bf9' ||
										user.user_id == 'f659cd52b52d0c5ff0e4da502435de20'" value="{{kitType.KitId}}">{{kitType.kitType}} &#8964;</option>
										<option ng-repeat="kitType in kitTypes | filter: {KitId: '4'}" ng-if="
										role == 'koerier' ||
										
										loggedInUserRoute == '47' ||
										loggedInUserRoute == '48' ||
										user.user_id == '411b27e5358d2346881b7b5b2888d057' ||
										user.user_id == 'f6723dd47f0411c2b7d194a4dd62654a' ||
										user.user_id == 'cb25f369a7d3194ac65e823c4b6fd59b' ||
										user.user_id == '61ab7ecb6d462ea5804a0217ca344764' ||
										user.user_id == 'af8cd7fbb0d5b56bf8921ddfd6d80c2a' ||
										user.user_id == '2a1d69e8d38e3a79275b3f6c7731011a' ||
										user.user_id == '036da22f3cbc1b19d6479ecc78e81c41' ||
										user.user_id == 'a272df862b1b14b903d55add4bf916f0' ||
										user.user_id == '12905e8d5d102c73ad735edee81b6164' ||
										user.user_id == '83809f492206e350cc5b77a1c8d8bfc1' ||
										user.user_id == 'bdb866e5c4838ab78d322de9afd7e618' ||
										user.user_id == 'b906a6eba01bef7583c62684f40b2222' ||
										user.user_id == '4b3acfe62fc393e024c5f4ceaed2cf26' ||
										user.user_id == 'c10bd60ba45b342147efbbe764eea93d' ||
										user.user_id == '2582b3c448b46aeb4e0685b50c9495d7' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == 'ff31d588f86662d5b68d35039c03b015' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ec49de9b09aaf306a994ad2308078be' ||
										user.user_id == '49f6d2c8cb7860b6063bdf42f5e4b1a6' ||
										user.user_id == '9a0a597c996e536cdec948033f67ace7' ||
										user.user_id == '40af1968804df5febafef99253ed4647' ||
										user.user_id == 'efabd470cf4531efd896c8043044ebfa' ||
										user.user_id == '39f910e6c5fc08c4c4e205a1965551cb' ||
										user.user_id == '0e9b496031c540b10f731c6e1cc93c60' ||
										user.user_id == 'cc89e3c7f337a162d1002ade05de8c7b' ||
										user.user_id == '8c57391d1b1044f649c11121bfe8cfe6' ||
										user.user_id == 'e779bfbbd46e0369005f4ab7bc79215c' ||
										user.user_id == '3643b8bfced0c78cdcb54b0ed984ccc8' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ad357c9da96ea21fd92bcb112ae787e' ||
										user.user_id == 'b250ee5d4e0b02ee8d613bfbd815ea6a' ||
										user.user_id == '4765ee38ada5247602e14bcad5204ccf' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == '83143da8da69981d260297d6ccd6356b' ||
										user.user_id == '0c766bd8bf49d37575ab42a579a96ddf' ||
										user.user_id == '4b3b1ec2d548ab8d0f303f4a3ba1cc3d' ||
										user.user_id == '0e30702f79add0788ca5ea13d8df450c' ||
										user.user_id == 'a25a814d471380f1679cd0a7124ccf4c' ||
										user.user_id == '7ce8ac1618a962abd302888ab81e0bf9' ||
										user.user_id == 'f659cd52b52d0c5ff0e4da502435de20'" value="{{kitType.KitId}}">{{kitType.kitType}} &#8964;</option>
									</select>
									<select class="kitsAfgeleverdAantal" ng-model="planning.kitTypeSelectedAmount">
										<option selected disabled value="">Selecteer een aantal &#8964;</option>
										<option value="1">1 &#8964;</option>
										<option value="2">2 &#8964;</option>
										<option value="3">3 &#8964;</option>
										<option value="4">4 &#8964;</option>
										<option value="5">5 &#8964;</option>
										<option value="6">6 &#8964;</option>
									</select>
									<br />
								</span>
							</span>
							<button class="addAnotherKit" ng-if="role != 'huisartsenpraktijk'" ng-click="addKitToRoute($event)">NOG EEN KIT TOEVOEGEN</button>
						</span>

						<br /><br />


						<h3>AFWIJKENDE VERZENDMETHODE</h3>
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<select ng-if="role != 'huisartsenpraktijk'" ng-model="planning.afwijkendeVerzendmethode">
							<option selected value="">Geen selectie &#8964;</option>
							<option ng-repeat="verzendmethode in verzendmethodes" ng-if="verzendmethode.verzendmethode_id == '3' && role == 'beheerder'" value="{{verzendmethode.verzendmethode_id}}">{{verzendmethode.verzendmethode}} &#8964;</option>
							<option ng-repeat="verzendmethode in verzendmethodes" ng-if="verzendmethode.verzendmethode_id == '1'" value="{{verzendmethode.verzendmethode_id}}">{{verzendmethode.verzendmethode}} &#8964;</option>
						</select>

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk' && planning.afwijkendeVerzendmethode" ng-repeat="verzendmethode in verzendmethodes | filter: {verzendmethode_id: planning.afwijkendeVerzendmethode}">{{verzendmethode.verzendmethode}}</p>
						<p ng-if="role == 'huisartsenpraktijk' && !planning.afwijkendeVerzendmethode">(Nog) geen gegevens bekend.</p>
						
						<!-- IF AFWIJKENDE VERZENDMETHODE IS SPOEDENVELOP -->
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<span ng-if="role != 'huisartsenpraktijk' && planning.afwijkendeVerzendmethode == '2'">
							<select ng-model="planning.afwijkendeVerzendmethodeReason">
								<option selected disabled value="">Reden afwijkende verzendmethode &#8964;</option>
								<option ng-repeat="spoedenvelopReden in spoedenvelop" value="{{spoedenvelopReden.spoedenvelop_id}}">{{spoedenvelopReden.reden}} &#8964;</option>
							</select>
						</span>

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk' && planning.afwijkendeVerzendmethode == '2'" ng-repeat="spoedenvelopReden in spoedenvelop | filter: {spoedenvelop_id: planning.afwijkendeVerzendmethode}">Reden: {{spoedenvelopReden.reden}}</p>
						
						<!-- IF AFWIJKENDE VERZENDMETHODE IS BEZEMWAGEN -->
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<span ng-if="role != 'huisartsenpraktijk' && planning.afwijkendeVerzendmethode == '3'">
							<select ng-model="planning.afwijkendeVerzendmethodeReason">
								<option selected disabled value="">Reden afwijkende verzendmethode &#8964;</option>
								<option ng-repeat="bezemwagenReden in bezemwagen" value="{{bezemwagenReden.bezemwagen_id}}">{{bezemwagenReden.reden}} &#8964;</option>
							</select>
						</span>

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk' && planning.afwijkendeVerzendmethode == '3'" ng-repeat="bezemwagenReden in bezemwagen | filter: {bezemwagen_id: planning.afwijkendeVerzendmethode}">Reden: {{bezemwagenReden.reden}}</p>

						<br /><br />

						<h3>NOTITIE</h3>
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<p style="font-weight:300;" ng-if="planning.notitie"><span style="font-weight:bold">Huidige notitie: </span>{{planning.notitie}}</p>
						<textarea ng-show="role != 'huisartsenpraktijk'" placeholder="Voer een notitie in" ng-model="planningNotitie"></textarea>

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk' && planning.notitie">{{planning.notitie}}</p>
						<p ng-if="role == 'huisartsenpraktijk' && !planning.notitie">(Nog) geen gegevens bekend.</p>
						
						<br /><br />
						
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<button ng-if="role != 'huisartsenpraktijk' && (planning.kits_afgeleverd == '0' || !planning.kits_afgeleverd || (planning.kits_afgeleverd == '1' && (planning.kitTypeSelected.length && planning.kitTypeSelectedAmount.length) || planning.bestellingen != '')) && ((planning.materiaal_opgehaald == '0' && planning.noMateriaalGivenReason != '7' && planning.noMateriaalGivenReason.length) || (planning.materiaal_opgehaald == '0' && planning.noMateriaalGivenReason == '7' && planning.anders.length) || planning.materiaal_opgehaald == '1' || !planning.materiaal_opgehaald)" type="submit" class="button" ng-click="savePlanning($event,planning.kits_afgeleverd,planning.id,planning.materiaal_opgehaald,planning.noMateriaalGivenReason,planning.anders,planning.afwijkendeVerzendmethode,planning.afwijkendeVerzendmethodeReason,planningNotitie,user.user_id,user.identity,loggedInUserRoute,loggedInUserRegion)">GEGEVENS OPSLAAN</button>

						<!-- IF KITS DELIVERED BUT NO TYPE/AMOUNT SELECTED -->
						<div class="register-message" ng-if="role != 'huisartsenpraktijk' && planning.kits_afgeleverd == '1' && (planning.bestellingen == '' && (!planning.kitTypeSelected.length || !planning.kitTypeSelectedAmount.length))">Selecteer eerst een type en aantal van de afgeleverde kit(s) voordat u de gegevens kunt opslaan.</div>

						<!-- IF NO MONSTERS PICKED UP BUT NO REASON GIVEN -->
						<div class="register-message" ng-if="role != 'huisartsenpraktijk' && (planning.materiaal_opgehaald == '0' && !planning.noMateriaalGivenReason.length) || (planning.materiaal_opgehaald == '0' && planning.noMateriaalGivenReason == '7' && !planning.anders.length)">Geef eerst een reden aan waarom er geen monsters zijn opgehaald voordat u de gegevens kunt opslaan.</div>

					</form>
	
					<!-- IF USER DOES NOT EXIST IN PLANNING YET -->
					<form class="planning-form" ng-if="(planningDetails | filter: user.user_id).length == 0 || !planningDetails">

						<h3>MATERIAAL OPGEHAALD</h3>
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<select ng-show="role != 'huisartsenpraktijk'" ng-model="planning.materiaal_opgehaald" class="materiaalOpgehaaldSelection">
							<option selected value="">Geen selectie &#8964;</option>
							<option value="0">Nee &#8964;</option>
							<option value="1">Ja &#8964;</option>
						</select>
						<select ng-model="planning.noMateriaalGivenReason" ng-show="role != 'huisartsenpraktijk' && planning.materiaal_opgehaald == '0'">
							<option selected disabled value="">Geef een reden aan &#8964;</option>
							<option ng-repeat="reden in geenmateriaalreden" value="{{reden.reden_id}}">{{reden.reden}}</option>
						</select>
						<input type="text" ng-show="role != 'huisartsenpraktijk' && planning.noMateriaalGivenReason == '7'" placeholder="Voor een reden in" ng-model="planning.anders">

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk'">(Nog) geen gegevens bekend.</p>

						<br /><br />

						<h3>KITS AFGELEVERD</h3>
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<select ng-show="role != 'huisartsenpraktijk'" ng-model="planning.kits_afgeleverd" class="kitsAfgeleverdSelection">
							<option selected value="">Geen selectie &#8964;</option>
							<option value="0">Nee &#8964;</option>
							<option value="1">Ja &#8964;</option>
						</select>
						<span ng-show="role != 'huisartsenpraktijk' && planning.kits_afgeleverd == '1'" class="kitsAfgeleverdOuterContainer">
							<span class="kitsAfgeleverdContainer">
								<span style="padding:10px 0;border-bottom:1px solid #ccc;display:inline-block;width:100%;" class="kitsAfgeleverd">
									<select class="kitsAfgeleverdType" ng-model="kitTypeSelected">
										<option selected disabled value="">Selecteer een kittype &#8964;</option>
										<option ng-repeat="kitType in kitTypes | filter: {KitId: '1'}" value="{{kitType.KitId}}">{{kitType.kitType}} &#8964;</option>
										<option ng-repeat="kitType in kitTypes | filter: {KitId: '2'}" ng-if="
										role == 'koerier' ||

										loggedInUserRegion == '5' ||
										loggedInUserRegion == '1' ||
										loggedInUserRoute == '47' ||
										loggedInUserRoute == '48' ||
										user.user_id == '411b27e5358d2346881b7b5b2888d057' ||
										user.user_id == 'f6723dd47f0411c2b7d194a4dd62654a' ||
										user.user_id == 'cb25f369a7d3194ac65e823c4b6fd59b' ||
										user.user_id == '61ab7ecb6d462ea5804a0217ca344764' ||
										user.user_id == 'af8cd7fbb0d5b56bf8921ddfd6d80c2a' ||
										user.user_id == '2a1d69e8d38e3a79275b3f6c7731011a' ||
										user.user_id == '036da22f3cbc1b19d6479ecc78e81c41' ||
										user.user_id == 'a272df862b1b14b903d55add4bf916f0' ||
										user.user_id == '12905e8d5d102c73ad735edee81b6164' ||
										user.user_id == '83809f492206e350cc5b77a1c8d8bfc1' ||
										user.user_id == 'bdb866e5c4838ab78d322de9afd7e618' ||
										user.user_id == 'b906a6eba01bef7583c62684f40b2222' ||
										user.user_id == '4b3acfe62fc393e024c5f4ceaed2cf26' ||
										user.user_id == 'c10bd60ba45b342147efbbe764eea93d' ||
										user.user_id == '2582b3c448b46aeb4e0685b50c9495d7' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == 'ff31d588f86662d5b68d35039c03b015' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ec49de9b09aaf306a994ad2308078be' ||
										user.user_id == '49f6d2c8cb7860b6063bdf42f5e4b1a6' ||
										user.user_id == '9a0a597c996e536cdec948033f67ace7' ||
										user.user_id == '40af1968804df5febafef99253ed4647' ||
										user.user_id == 'efabd470cf4531efd896c8043044ebfa' ||
										user.user_id == '39f910e6c5fc08c4c4e205a1965551cb' ||
										user.user_id == '0e9b496031c540b10f731c6e1cc93c60' ||
										user.user_id == 'cc89e3c7f337a162d1002ade05de8c7b' ||
										user.user_id == '8c57391d1b1044f649c11121bfe8cfe6' ||
										user.user_id == 'e779bfbbd46e0369005f4ab7bc79215c' ||
										user.user_id == '3643b8bfced0c78cdcb54b0ed984ccc8' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ad357c9da96ea21fd92bcb112ae787e' ||
										user.user_id == 'b250ee5d4e0b02ee8d613bfbd815ea6a' ||
										user.user_id == '4765ee38ada5247602e14bcad5204ccf' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == '83143da8da69981d260297d6ccd6356b' ||
										user.user_id == '0c766bd8bf49d37575ab42a579a96ddf' ||
										user.user_id == '4b3b1ec2d548ab8d0f303f4a3ba1cc3d' ||
										user.user_id == '0e30702f79add0788ca5ea13d8df450c' ||
										user.user_id == 'a25a814d471380f1679cd0a7124ccf4c' ||
										user.user_id == '7ce8ac1618a962abd302888ab81e0bf9' ||
										user.user_id == 'f659cd52b52d0c5ff0e4da502435de20'
										" value="{{kitType.KitId}}">{{kitType.kitType}} &#8964;</option>
										<option ng-repeat="kitType in kitTypes | filter: {KitId: '3'}" ng-if="
										role == 'koerier' ||

										loggedInUserRegion == '5' ||
										loggedInUserRegion == '1' ||
										loggedInUserRoute == '47' ||
										loggedInUserRoute == '48' ||
										user.user_id == '411b27e5358d2346881b7b5b2888d057' ||
										user.user_id == 'f6723dd47f0411c2b7d194a4dd62654a' ||
										user.user_id == 'cb25f369a7d3194ac65e823c4b6fd59b' ||
										user.user_id == '61ab7ecb6d462ea5804a0217ca344764' ||
										user.user_id == 'af8cd7fbb0d5b56bf8921ddfd6d80c2a' ||
										user.user_id == '2a1d69e8d38e3a79275b3f6c7731011a' ||
										user.user_id == '036da22f3cbc1b19d6479ecc78e81c41' ||
										user.user_id == 'a272df862b1b14b903d55add4bf916f0' ||
										user.user_id == '12905e8d5d102c73ad735edee81b6164' ||
										user.user_id == '83809f492206e350cc5b77a1c8d8bfc1' ||
										user.user_id == 'bdb866e5c4838ab78d322de9afd7e618' ||
										user.user_id == 'b906a6eba01bef7583c62684f40b2222' ||
										user.user_id == '4b3acfe62fc393e024c5f4ceaed2cf26' ||
										user.user_id == 'c10bd60ba45b342147efbbe764eea93d' ||
										user.user_id == '2582b3c448b46aeb4e0685b50c9495d7' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == 'ff31d588f86662d5b68d35039c03b015' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ec49de9b09aaf306a994ad2308078be' ||
										user.user_id == '49f6d2c8cb7860b6063bdf42f5e4b1a6' ||
										user.user_id == '9a0a597c996e536cdec948033f67ace7' ||
										user.user_id == '40af1968804df5febafef99253ed4647' ||
										user.user_id == 'efabd470cf4531efd896c8043044ebfa' ||
										user.user_id == '39f910e6c5fc08c4c4e205a1965551cb' ||
										user.user_id == '0e9b496031c540b10f731c6e1cc93c60' ||
										user.user_id == 'cc89e3c7f337a162d1002ade05de8c7b' ||
										user.user_id == '8c57391d1b1044f649c11121bfe8cfe6' ||
										user.user_id == 'e779bfbbd46e0369005f4ab7bc79215c' ||
										user.user_id == '3643b8bfced0c78cdcb54b0ed984ccc8' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ad357c9da96ea21fd92bcb112ae787e' ||
										user.user_id == 'b250ee5d4e0b02ee8d613bfbd815ea6a' ||
										user.user_id == '4765ee38ada5247602e14bcad5204ccf' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == '83143da8da69981d260297d6ccd6356b' ||
										user.user_id == '0c766bd8bf49d37575ab42a579a96ddf' ||
										user.user_id == '4b3b1ec2d548ab8d0f303f4a3ba1cc3d' ||
										user.user_id == '0e30702f79add0788ca5ea13d8df450c' ||
										user.user_id == 'a25a814d471380f1679cd0a7124ccf4c' ||
										user.user_id == '7ce8ac1618a962abd302888ab81e0bf9' ||
										user.user_id == 'f659cd52b52d0c5ff0e4da502435de20'" value="{{kitType.KitId}}">{{kitType.kitType}} &#8964;</option>
										<option ng-repeat="kitType in kitTypes | filter: {KitId: '4'}" ng-if="
										role == 'koerier' ||
										
										loggedInUserRoute == '47' ||
										loggedInUserRoute == '48' ||
										user.user_id == '411b27e5358d2346881b7b5b2888d057' ||
										user.user_id == 'f6723dd47f0411c2b7d194a4dd62654a' ||
										user.user_id == 'cb25f369a7d3194ac65e823c4b6fd59b' ||
										user.user_id == '61ab7ecb6d462ea5804a0217ca344764' ||
										user.user_id == 'af8cd7fbb0d5b56bf8921ddfd6d80c2a' ||
										user.user_id == '2a1d69e8d38e3a79275b3f6c7731011a' ||
										user.user_id == '036da22f3cbc1b19d6479ecc78e81c41' ||
										user.user_id == 'a272df862b1b14b903d55add4bf916f0' ||
										user.user_id == '12905e8d5d102c73ad735edee81b6164' ||
										user.user_id == '83809f492206e350cc5b77a1c8d8bfc1' ||
										user.user_id == 'bdb866e5c4838ab78d322de9afd7e618' ||
										user.user_id == 'b906a6eba01bef7583c62684f40b2222' ||
										user.user_id == '4b3acfe62fc393e024c5f4ceaed2cf26' ||
										user.user_id == 'c10bd60ba45b342147efbbe764eea93d' ||
										user.user_id == '2582b3c448b46aeb4e0685b50c9495d7' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == 'ff31d588f86662d5b68d35039c03b015' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ec49de9b09aaf306a994ad2308078be' ||
										user.user_id == '49f6d2c8cb7860b6063bdf42f5e4b1a6' ||
										user.user_id == '9a0a597c996e536cdec948033f67ace7' ||
										user.user_id == '40af1968804df5febafef99253ed4647' ||
										user.user_id == 'efabd470cf4531efd896c8043044ebfa' ||
										user.user_id == '39f910e6c5fc08c4c4e205a1965551cb' ||
										user.user_id == '0e9b496031c540b10f731c6e1cc93c60' ||
										user.user_id == 'cc89e3c7f337a162d1002ade05de8c7b' ||
										user.user_id == '8c57391d1b1044f649c11121bfe8cfe6' ||
										user.user_id == 'e779bfbbd46e0369005f4ab7bc79215c' ||
										user.user_id == '3643b8bfced0c78cdcb54b0ed984ccc8' ||
										user.user_id == 'c41a72c4c3d3e80bf15bbf673fa86c09' ||
										user.user_id == '3ad357c9da96ea21fd92bcb112ae787e' ||
										user.user_id == 'b250ee5d4e0b02ee8d613bfbd815ea6a' ||
										user.user_id == '4765ee38ada5247602e14bcad5204ccf' ||
										user.user_id == '502ecde92b1e374df50e77da3e34e36f' ||
										user.user_id == '83143da8da69981d260297d6ccd6356b' ||
										user.user_id == '0c766bd8bf49d37575ab42a579a96ddf' ||
										user.user_id == '4b3b1ec2d548ab8d0f303f4a3ba1cc3d' ||
										user.user_id == '0e30702f79add0788ca5ea13d8df450c' ||
										user.user_id == 'a25a814d471380f1679cd0a7124ccf4c' ||
										user.user_id == '7ce8ac1618a962abd302888ab81e0bf9' ||
										user.user_id == 'f659cd52b52d0c5ff0e4da502435de20'" value="{{kitType.KitId}}">{{kitType.kitType}} &#8964;</option>
									</select>
									<select class="kitsAfgeleverdAantal" ng-model="kitTypeSelectedAmount">
										<option selected disabled value="">Selecteer een aantal &#8964;</option>
										<option value="1">1 &#8964;</option>
										<option value="2">2 &#8964;</option>
										<option value="3">3 &#8964;</option>
										<option value="4">4 &#8964;</option>
										<option value="5">5 &#8964;</option>
										<option value="6">6 &#8964;</option>
									</select>
									<br />
								</span>
							</span>
							<button class="addAnotherKit" ng-if="kitTypeSelected.length && kitTypeSelectedAmount.length" ng-click="addKitToRoute($event)">NOG EEN KIT TOEVOEGEN</button>
						</span>

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk'">(Nog) geen gegevens bekend.</p>

						<br /><br />

						<h3>AFWIJKENDE VERZENDMETHODE</h3>
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<select ng-show="role != 'huisartsenpraktijk'" ng-model="planning.afwijkendeVerzendmethode">
							<option selected value="">Geen selectie &#8964;</option>
							<option ng-repeat="verzendmethode in verzendmethodes" ng-if="verzendmethode.verzendmethode_id == '3' && role == 'beheerder'" value="{{verzendmethode.verzendmethode_id}}">{{verzendmethode.verzendmethode}} &#8964;</option>
							<option ng-repeat="verzendmethode in verzendmethodes" ng-if="verzendmethode.verzendmethode_id == '1'" value="{{verzendmethode.verzendmethode_id}}">{{verzendmethode.verzendmethode}} &#8964;</option>
						</select>

						<!-- IF AFWIJKENDE VERZENDMETHODE IS SPOEDENVELOP -->
						<span ng-show="role != 'huisartsenpraktijk' && planning.afwijkendeVerzendmethode == '2'">
							<select ng-model="planning.afwijkendeVerzendmethodeReason">
								<option selected disabled value="">Reden afwijkende verzendmethode &#8964;</option>
								<option ng-repeat="spoedenvelopReden in spoedenvelop" value="{{spoedenvelopReden.spoedenvelop_id}}">{{spoedenvelopReden.reden}} &#8964;</option>
							</select>
						</span>

						<!-- IF AFWIJKENDE VERZENDMETHODE IS BEZEMWAGEN -->
						<span ng-show="role != 'huisartsenpraktijk' && planning.afwijkendeVerzendmethode == '3'">
							<select ng-model="planning.afwijkendeVerzendmethodeReason">
								<option selected disabled value="">Reden afwijkende verzendmethode &#8964;</option>
								<option ng-repeat="bezemwagenReden in bezemwagen" value="{{bezemwagenReden.bezemwagen_id}}">{{bezemwagenReden.reden}} &#8964;</option>
							</select>
						</span>

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk'">(Nog) geen gegevens bekend.</p>

						<br /><br />

						<h3>NOTITIE</h3>
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<p style="font-weight:300;" ng-if="planning.notitie"><span style="font-weight:bold">Huidige notitie: </span>{{planning.notitie}}</p>
						<textarea ng-show="role != 'huisartsenpraktijk'" placeholder="Voer een notitie in" ng-model="planningNotitie"></textarea>

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk'">(Nog) geen gegevens bekend.</p>

						<br /><br />
						
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<button ng-if="role != 'huisartsenpraktijk' && (planning.kits_afgeleverd == '0' || !planning.kits_afgeleverd || (planning.kits_afgeleverd == '1' && kitTypeSelected.length && kitTypeSelectedAmount.length)) && ((planning.materiaal_opgehaald == '0' && planning.noMateriaalGivenReason != '7' && planning.noMateriaalGivenReason.length) || (planning.materiaal_opgehaald == '0' && planning.noMateriaalGivenReason == '7' && planning.anders.length) || planning.materiaal_opgehaald == '1' || !planning.materiaal_opgehaald)" type="submit" class="button" ng-click="savePlanning($event,planning.kits_afgeleverd,'',planning.materiaal_opgehaald,planning.noMateriaalGivenReason,planning.anders,planning.afwijkendeVerzendmethode,planning.afwijkendeVerzendmethodeReason,planningNotitie,user.user_id,user.identity,loggedInUserRoute,loggedInUserRegion)">GEGEVENS OPSLAAN</button>
						
						<!-- IF KITS DELIVERED BUT NO TYPE/AMOUNT SELECTED -->
						<div class="register-message" ng-if="role != 'huisartsenpraktijk' && planning.kits_afgeleverd == '1' && (!kitTypeSelected.length || !kitTypeSelectedAmount.length)">Selecteer eerst een type en aantal van de afgeleverde kit(s) voordat u de gegevens kunt opslaan.</div>

						<!-- IF NO MONSTERS PICKED UP BUT NO REASON GIVEN -->
						<div class="register-message" ng-if="role != 'huisartsenpraktijk' && (planning.materiaal_opgehaald == '0' && !planning.noMateriaalGivenReason.length) || (planning.materiaal_opgehaald == '0' && planning.noMateriaalGivenReason == '7' && !planning.anders.length)">Geef eerst een reden aan waarom er geen monsters zijn opgehaald voordat u de gegevens kunt opslaan.</div>

					</form>
				</span>
			</li>
		</ul>

		<!-- PAGINATION BUTTONS -->
		<span ng-if="usersDetailsRoute" style="display:block;width:60%;margin:0 auto;text-align:center;" class="routePaginationButtons">
			<a href="javascript:;" ng-class="{'active':$first}" class="button pagination-button" ng-repeat="i in getNumberAsArray(numberOfPages()) track by $index" ng-click="setCurrentPage($event,$index)">{{$index + 1}}</a>
		</span>
	</div>

</section>